{:kyleerhabor.hello.core/debug? false
 :kyleerhabor.hello.ui/title "Kyle Erhabor"
 :kyleerhabor.hello.ui/email "kyleerhabor@gmail.com"
 :kyleerhabor.hello.ui/github "https://github.com/KyleErhabor"

 ;;; A lot of the colors are based on the color scheme used in Wonder Cat Kyuu-chan.
 
 ;; Source: https://twitter.com/nitorisasami/status/1569306543522476037, 1st image, 1st frame, Hinata's hair with 50% brightness.
 ;;
 ;; NOTE: Unused.
 :kyleerhabor.hello.ui/secondary-text-color "#7F7F7F"
 ;; Source: [1], 2nd frame at Hinata's hair with a saturation of 30% and brightness of 50%.
 :kyleerhabor.hello.ui/link-color-light "#7B597F"
 ;; Source: [1], 3rd frame at Hinata's hair (#ada3ad) with 19% saturation.
 :kyleerhabor.hello.ui/link-color-dark "#ad8cad"
 ;; Source: [1], 3rd frame with a brightness of 10%.
 :kyleerhabor.hello.ui/background-color-dark "#1a1a1a"}

;; [1]: https://twitter.com/nitorisasami/status/1581225391087239171
