:root {
  --background-color: var(--background-color-light);
  --header-divider-color: var(--header-divider-color-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--background-color-dark);
    --header-divider-color: var(--header-divider-color-dark);
  }
}

a {
  color: inherit;
}

h1 {
  margin: 0;
}

.hide {
  display: none;
}

.line-limit {
  height: calc(var(--line-height) * var(--line-count));
  overflow: hidden;
  text-overflow: ellipsis;
}
