@import "./cssremedy.css";
@import "./app.css";

:root {
  --accent-color: var(--accent-color-light);
  --background-color: var(--background-color-light);
  --background-secondary-color: var(--background-secondary-color-light);
  --separator-color: var(--separator-color-light);
  --separator-secondary-color: var(--separator-secondary-color-light);
  --text-secondary-color: var(--text-secondary-color-light);
  --text-tertiary-color: var(--text-tertiary-color-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: var(--accent-color-dark);
    --background-color: var(--background-color-dark);
    --background-secondary-color: var(--background-secondary-color-dark);
    --separator-color: var(--separator-color-dark);
    --separator-secondary-color: var(--separator-secondary-color-dark);
    --text-secondary-color: var(--text-secondary-color-dark);
    --text-tertiary-color: var(--text-tertiary-color-dark);
  }
}

a {
  color: inherit;
  text-underline-offset: var(--underline-offset);
}

.hidden {
  display: none;
}

/* Shiki */

pre.shiki {
  padding: var(--spacing-base);
  border-radius: var(--spacing-sm);
  overflow-x: auto;
  color: var(--shiki-light);
  background-color: var(--background-secondary-color);
  -webkit-text-size-adjust: none;
}

pre.shiki span {
  color: var(--shiki-light);
}

pre.shiki code {
  display: block;
  min-width: 100%;
  width: max-content;
  color: var(--shiki-light);
}

@media (prefers-color-scheme: dark) {
  pre.shiki, pre.shiki span {
    color: var(--shiki-dark);
  }
}

mjx-container svg {
  display: inline;
}

mjx-container[display="true"] svg {
  display: block;
}
