:root {
  --background-color-light: hsl(0deg 0% 100%);
  --background-color-dark: hsl(30deg 0% 10%);
  --header-divider-color-light: hsl(30deg 0% 60%);
  --header-divider-color-dark: hsl(30deg 0% 40%);
}
